<table style ="width: 50%; border: 1px solid black; text-align: center">
  <tr>
    <th>Emisor</th>
    <th>Receptor</th>
    <th>Titol Llegit?</th>
    <th>Titol llegit!</th>
  </tr>
  <tr *ngFor="let correu of correus">
    <td>{{correu.emisor}}</td>
    <td>{{correu.receptor}}</td>

    <td *ngIf="this.correu.llegit" class="groc">{{correu.titol}}</td>
    <td *ngIf="!this.correu.llegit">{{correu.titol}}</td>

    <td *ngIf="!this.correu.llegit">{{correu.titol}}</td>
  </tr>
</table>
<table>
  <tr>
    <th>Num Llegits</th>
    <th>Num No Llegits</th>
  </tr>
  <tr>
    <th>{{countRead().read}}</th>
    <th>{{countRead().unread}}</th>
  </tr>
</table>
